//-formations Diététique 
mj-wrapper(background-color="#ffffff" padding="30px 20px 0 20px")
    mj-section(padding="0px" padding-bottom="10px")
        mj-column(width="450px")
            mj-text(align="center" padding="0" mj-class="T24-300 cT1") Nos formations en Diététique de Bac+2 à Bac+3
    mj-section(padding="0px")
        //-formation BTS Diététique et Nutrition      
        mj-column(background-color="#ffffff" width="30%" vertical-align="top" padding="10px")
            mj-image(align="left" padding="0" border-radius="10px" width="165px" src="https://i.ibb.co/8DpjjKVX/diet1.jpg" alt="formation BTS Diététique et Nutrition")
        mj-column(background-color="#ffffff" width="70%" vertical-align="top" padding="10px")
            mj-text(align="left" padding="0px" mj-class="T13-700 c0" text-transform="uppercase") Formation initiale
            mj-text(align="left" padding="2px" mj-class="T24-300 cT1") #[span(style="font-weight:700;") BTS] Diététique et Nutrition
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Post-Bac,
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Durée : #[span(style="font-weight:700;color:1a1a1a;") 2 ans],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Diplôme reconnue par l'État],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Formation prise en charge par l'étudiant ou par un organisme extérieur.
            mj-spacer(height="40px")
        //-formation Bachelor Chargé(e) de Projet en Nutrition
        mj-column(background-color="#ffffff" width="30%" vertical-align="top" padding="10px")
            mj-image(align="left" padding="0" border-radius="10px" width="165px" src="https://i.ibb.co/jkG4P9Bh/diet2.jpg" alt="formation Bachelor Chargé(e) de Projet en Nutrition et de la prise en charge des Troubles du Comportement Alimentaire.")
        mj-column(background-color="#ffffff" width="70%" vertical-align="top" padding="10px")
            mj-text(align="left" padding="0px" mj-class="T13-700 c0" text-transform="uppercase") Formation initiale
            mj-text(align="left" padding="2px" mj-class="T24-300 cT1") #[span(style="font-weight:700;color:#1a1a1a;") Bachelor] Chargé(e) de Projet en Nutrition et de la prise en charge des Troubles du Comportement Alimentaire
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Post-Bac+2,
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 1 an],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Formation prise en charge par l'étudiant ou par un organisme extérieur grâce à la mobilisation du CPF.
            mj-spacer(height="40px")