mjml
    //- Head
    mj-head
        mj-title JPO du 29 mars 2025 Supveto Lille
        mj-font(name='Roboto' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
        mj-font(name="fontAwesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")/
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Roboto, Arial, Helvetica,sans serif')/
            mj-class(name='T36-900' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='36px' line-height='36px' font-weight='900')/
            mj-class(name='T24-700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='24px' line-height='28px' font-weight='700')/
            mj-class(name='T24-300' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='24px' line-height='28px' font-weight='300')/
            mj-class(name='T16-700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='700')/
            mj-class(name='T16-500' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='500')/
            mj-class(name='T16-400' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight="400")/
            mj-class(name='T13-700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='13px' line-height='17px' font-weight="700")/
            mj-class(name='T13-400' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='13px' line-height='17px' font-weight="400")/
            mj-class(name='T10-300' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='10px' line-height='12px' font-weight="300")/
            mj-class(name='L' align="left" border-style="solid" border-width="0.75px" width="80px" padding="10px 0")
            mj-class(name='top' vertical-align="top")
            //- Black colors text
            mj-class(name="cT1" color="#1a1a1a")/
            mj-class(name="cT0" color="#4d4d4d")/
            //- Colors
            mj-class(name="c0" color="#008853")/
            mj-class(name="bg0" background-color="#008853")/
            mj-class(name="c+1" color="#00390D")/
            mj-class(name="bg+1" background-color="#00390D")/
        mj-breakpoint(width="480px")
    //- Body
    mj-body(background-color='#f2f2f2' width="600px")
        //- content
        block content
        //- bloc header
        block header002
            include ../includes/supveto/_header002
        //- bloc formations
        block form003
            include ../includes/supveto/_form003
        //- bloc information
        block cTa
            include ../includes/supveto/_cTa
        //- bloc footer
        block footer
            include ../includes/_footer 