//-Header
mj-section(padding="0")
    mj-column
        //-mj-spacer(height="21px" container-background-color="#f2f2f2")
        mj-image(padding="20px" align="left" width="153px" src="https://i.ibb.co/x7Dh8V0/logo-ETourisme.png" alt="logo Ecosup Tourisme ")/
mj-section(background-color="#ffffff" padding="0")  
    mj-group
        mj-column(vertical-align="top")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/CmC3qss/affiche-Jpo30012025.jpg" alt="affiche de la jpo du samedi 29 mars 2025")
        mj-column(vertical-align="top")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/G9QRxrt/jpo-Group30012025.jpg" alt="jeunes hommes et jeunes filles en dynamique")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/G9QRxrt/jpo-Group30012025.jpg" alt="jeunes hommes et jeunes filles en dynamique")
mj-section(background-color="#ffffff" padding="0")  
    mj-column(width="480px")
        mj-text(padding="20px 20px 0 20px" mj-class="T13-400 cT0") 
            img(style="padding:0 20px" align="left" vertical-align="top" width="80px" src="https://i.ibb.co/wWHLFJT/Clementjpo25052024.jpg" alt="Clément Duhamel")
            p(style="margin:0px;padding-top:20px;padding-bottom:0px;padding-left:0px;padding-right:0px;text-align:left;vertical-align:bottom;font-weight:700;")
                | Clément Duhamel
            p(style="margin:0px;padding:0px;text-align:left;vertical-align:bottom;")
                | Responsable pédagogique
            p(style="margin:0px;padding:0px;text-align:left;vertical-align:bottom;")
                | Ecosup Tourisme
        mj-text(padding="10px 30px 0 30px" mj-class="T36-900 c0" letter-spacing="-1px") Portes Ouvertes sur votre avenir à Ecosup Tourisme
        mj-text(padding="10px 30px 0 30px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") {{ contact.PRENOM }}], découvrez l'univers d'une #[span(style="font-size:20px;line-height:20px;") &#x1F393;] #[span(style="font-weight:700;color:#1a1a1a;") formation diplômante et qualifiante] qui vous ouvrira de #[span(style="font-size:20px;line-height:20px;") &#x1F4A1;] réelles perspectives professionnelles.
        mj-text(padding="2px 30px" mj-class="T16-400 cT0") Ce qui vous attend&nbsp;:
        mj-text(padding="2px 30px" mj-class="T16-400 cT0") #[span(style="font-size:16px;line-height:20px;") &#x1F4CC;] Une #[span(style="font-weight:700;color:#1a1a1a;") visite immersive] de nos locaux #[span(style="font-size:20px;line-height:20px;") &#x1F3EB;], comme si vous y étiez déjà,
        mj-text(padding="2px 30px" mj-class="T16-400 cT0") #[span(style="font-size:16px;line-height:20px;") &#x1F4CC;] Des #[span(style="font-weight:700;color:#1a1a1a;") échanges enrichissants] avec nos experts pédagogiques et professionnels #[span(style="font-size:20px;line-height:20px;") &#x1F393;] du secteur,
        mj-text(padding="2px 30px" mj-class="T16-400 cT0") #[span(style="font-size:16px;line-height:20px;") &#x1F4CC;] Un #[span(style="font-weight:700;color:#1a1a1a;") accompagnement] pour concevoir le financement #[span(style="font-size:20px;line-height:20px;") &#x1F4B8;] parfait pour votre formation.
        mj-text(padding="2px 30px" mj-class="T16-400 cT0") De quoi donner un #[span(style="font-size:20px;line-height:20px") &#x1F680;] coup d'#[span(style="font-weight:700;color:#1a1a1a;") accélérateur à votre carrière] car les grandes ambitions méritent les meilleures opportunités. #[span(style="font-weight:700;color:1a1a1a;") Un rendez-vous à ne surtout pas manquer&nbsp;!]

        mj-button(padding="20px 25px" width="280px" mj-class="T16-700 bg0") #[span(style="text-transform:uppercase;") Journée Portes Ouvertes] samedi 29 Mars de 9h30 à 13h
        //-mj-spacer(height="19px" container-background-color="#ffffff")
   
   
