//-formations Hôtellerie 
mj-wrapper(background-color="#ffffff" padding="30px 20px 0 20px")
    mj-section(padding="0px" padding-bottom="10px")
        mj-column(width="450px")
            mj-text(align="center" padding="0" mj-class="T24-300 cT1") Nos formations en Hôtellerie Restauration de Bac+2 à Bac+5
    mj-section(padding="0px")
        //-formation MAN
        mj-column(background-color="#ffffff" width="30%" vertical-align="top" padding="10px")
            mj-image(align="left" padding="0" border-radius="10px" width="165px" src="https://i.ibb.co/MDCy48nG/hot1.jpg" alt="formation MAN : Mise à Niveau Hôtellerie Restauration.")
        mj-column(background-color="#ffffff" width="70%" vertical-align="top" padding="10px")
            mj-text(align="left" padding="0px" mj-class="T13-700 c0" text-transform="uppercase") Formation Initiale
            mj-text(align="left" padding="2px" mj-class="T24-300 cT1") #[span(style="font-weight:700;") MAN] Mise à Niveau Hôtellerie Restauration
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Post-Bac,
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 1 an],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0")  
                | #[span(style="color:#d9d9d9;") &#x27A4;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Bourse Ecosup],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Formation initiale ou continue. Financement possible grâce à la mobilisation du CPF ou autres organismes extérieurs.
            mj-spacer(height="40px")
        //-formation BTS        
        mj-column(background-color="#ffffff" width="30%" vertical-align="top" padding="10px")
            mj-image(align="left" padding="0" border-radius="10px" width="165px" src="https://i.ibb.co/Kz83hcGM/hot2.jpg" alt="formation BTS Management de l'Hôtellerie - Restauration")
        mj-column(background-color="#ffffff" width="70%" vertical-align="top" padding="10px")
            mj-text(align="left" padding="0px" mj-class="T13-700 c0" text-transform="uppercase") Formation en Apprentissage
            mj-text(align="left" padding="2px" mj-class="T24-300 cT1") #[span(style="font-weight:700;") BTS] Management de l'Hôtellerie - Restauration
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Post-Bac,
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 2 ans],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Diplôme reconnue par l'État],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Formation gratuite et rémunérée.
            mj-spacer(height="40px")
        //-formation Bachelor 
        mj-column(background-color="#ffffff" width="30%" vertical-align="top" padding="10px")
            mj-image(align="left" padding="0" border-radius="10px" width="165px" src="https://i.ibb.co/8nf54p9b/hot3.jpg" alt="formation Bachelor Chargé(e) de Gestion Commerciale en Hôtellerie")
        mj-column(background-color="#ffffff" width="70%" vertical-align="top" padding="10px")
            mj-text(align="left" padding="0px" mj-class="T13-700 c0" text-transform="uppercase") Formation en Apprentissage
            mj-text(align="left" padding="2px" mj-class="T24-300 cT1") #[span(style="font-weight:700;") Bachelor] Chargé(e) de Gestion commerciale en Hôtellerie
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Post-Bac+2,
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 1 an],
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Travel Week], semaine immersive en mobilité internationale,
            mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                | #[span(style="color:#d9d9d9;") &#x27A4;] Formation gratuite et rémunérée.
            mj-spacer(height="40px")
        //- formation Mastère
        mj-column(background-color="#ffffff" width="30%" vertical-align="top" padding="10px")
                mj-image(align="left" padding="0" width="165px" border-radius="10px" src="https://i.ibb.co/vxXhw6vZ/hot4.jpg" alt="formation Mastère Manager des Organisations en Hôtellerie.")
        mj-column(background-color="#ffffff" width="70%" vertical-align="top" padding="10px")
                mj-text(align="left" padding="0px" mj-class="T13-700 c0" text-transform="uppercase") Formation en Apprentissage
                mj-text(align="left" padding="2px" mj-class="T24-300 cT1") #[span(style="font-weight:700;") Mastère] Manager des Organisations en Hôtellerie
                mj-text(padding="0" mj-class="T16-400 cT0") 
                    | #[span(style="color:#d9d9d9;") &#x27A4;] Post-Bac+3,
                mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                    | #[span(style="color:#d9d9d9;") &#x27A4;] Durée : #[span(style="font-weight:700;color:#1a1a1a;") 2 ans],
                mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                    | #[span(style="color:#d9d9d9;") &#x27A4;] Le Plus : #[span(style="font-weight:700;color:#1a1a1a;") Double certification internationale],
                mj-text(padding="0" align="left" mj-class="T16-400 cT0") 
                    | #[span(style="color:#d9d9d9;") &#x27A4;] Formation gratuite et rémunérée.
                mj-spacer(height="40px")