//-Header
mj-section(padding="0")
    mj-column
        mj-image(padding="20px" align="left" width="153px" src="https://i.ibb.co/ZGht1kv/logo-EHotellerie.png" alt="logo Ecosup Hôtellerie ")/
mj-section(background-color="#ffffff" padding="0")  
    mj-group
        mj-column(vertical-align="top" width="33.333333%")
            mj-image(padding="0" width="200px" src="https://i.ibb.co/wZLbNVPc/af-Jpo29032025.png" alt="affiche de la jpo du samedi 29 mars 2025")
        mj-column(vertical-align="top" width="66.666666%")
            mj-image(padding="0" width="400px" src="https://i.ibb.co/kgwxVgPj/rem2024.jpg" alt="Remise des diplômes en janvier 2025")
mj-section(background-color="#ffffff" padding="0")  
    mj-column(width="480px")
        mj-text(padding="20px 20px 0 20px" mj-class="T13-400 cT0") 
            img(style="padding:0 20px" align="left" vertical-align="top" width="80px" src="https://i.ibb.co/NNTT0VM/Helenejpo25052024.jpg" alt="Hélène Salmon, responsable des études - Ecosup Hôtellerie")
            p(style="margin:0px;padding-top:20px;padding-bottom:0px;padding-left:0px;padding-right:0px;text-align:left;vertical-align:bottom;font-weight:700;color:#1a1a1a;")
                | Helène Salmon 
            p(style="margin:0px;padding:0px;text-align:left;vertical-align:bottom;")
                | Responsable des études
            p(style="margin:0px;padding:0px;text-align:left;vertical-align:bottom;")
                | d'Ecosup Hôtellerie
        mj-text(padding="10px 30px 0 30px" mj-class=" T36-900 c0" letter-spacing="-1px") Portes Ouvertes sur votre avenir à Ecosup Hôtellerie
        mj-text(padding="10px 30px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") {{ contact.PRENOM }}], découvrez l'univers d'une #[span(style="font-size:20px;line-height:20px;") &#x1F393;] #[span(style="font-weight:700;color:#1a1a1a;") formation diplômante et qualifiante] qui vous ouvrira de #[span(style="font-size:20px;line-height:20px;") &#x1F4A1;] réelles perspectives professionnelles.
        mj-text(padding="0 30px" mj-class="T16-400 cT0") Lors de cet évènement, vous aurez l'occasion de&nbsp;:
        mj-text(padding="0 30px 0 40px" mj-class="T16-400 cT0") #[span(style="font-size:14px;line-height:20px;") &#x1F4CC;] #[span(style="font-weight:700;color:#1a1a1a;") Découvrir notre campus] #[span(style="font-size:20px;line-height:20px;") &#x1F3EB;] et nos infrastructures modernes,
        mj-text(padding="0 30px 0 40px" mj-class="T16-400 cT0") #[span(style="font-size:14px;line-height:20px;") &#x1F4CC;] #[span(style="font-weight:700;color:#1a1a1a;") Rencontrer nos enseignants] #[span(style="font-size:20px;line-height:20px;") &#x1F4AC;&#x1F4DA;&#x1F4BC;] et équipes pédagogiques,
        mj-text(padding="0 30px 0 40px" mj-class="T16-400 cT0") #[span(style="font-size:14px;line-height:20px;") &#x1F4CC;] #[span(style="font-weight:700;color:#1a1a1a;") Assister à des présentations] #[span(style="font-size:20px;line-height:20px;") &#x1F4A1;&#x1F5A5;] sur nos programmes de formations,
        mj-text(padding="0 30px 0 40px" mj-class="T16-400 cT0") #[span(style="font-size:14px;line-height:20px;") &#x1F4CC;] #[span(style="font-weight:700;color:#1a1a1a;") Poser toutes vos questions] #[span(style="font-size:20px;line-height:20px;") &#x1F3AF;] sur le cursus, les admissions et la vie étudiante,
        mj-text(padding="0 30px 0 40px" mj-class="T16-400 cT0") #[span(style="font-size:14px;line-height:20px;") &#x1F4CC;] #[span(style="font-weight:700;color:#1a1a1a;") Échanger avec nos étudiants actuels] #[span(style="font-size:20px;line-height:20px;") &#x1F393;] pour obtenir leur retour d'expérience #[span(style="font-size:20px;line-height:20px;") &#x1F4AC;].
        mj-text(padding="10px 30px" mj-class="T16-400 cT0") De quoi donner un #[span(style="font-size:20px;line-height:20px") &#x1F680;] coup d'#[span(style="font-weight:700;color:#1a1a1a;") accélérateur à votre carrière] car les grandes ambitions méritent les meilleures opportunités. #[span(style="font-weight:700;color:1a1a1a;") Un rendez-vous à ne surtout pas manquer&nbsp;!]
        mj-button(padding="20px 25px" width="280px" mj-class="T16-700 bg0") #[span(style="text-trans;form:uppercase;") Journée Portes Ouvertes] samedi 29 Mars de 9h30 à 13h
   
   
